<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta author="Juan Anaya Ortiz."/>
  <title>Python Girls Granada</title>
  <link rel="stylesheet" href="style.css" />
</head>


<body>

  <header>
    <div id="imagen">
      <img src="header.png">
    </div>
  </header>

  <main>
    <div id="cuerpo">


    <img id="python" src="index.png" href="https://www.python.org/">

    <img id="github" src="Octocat.png" href="https://github.com/PythonGirlsGranada">
    <p id="parrafo">
      Python Girls Granada es una iniciativa para fomentar la inclusión del sexo femenino en el ámbito de la informática y
      la tecnología. Esta iniciativa tiene lugar en Granada, y consiste principalmente en diversos talleres y prácticas
      usando el lenguaje de programación "Python".
    </p>


    </div>

</main>

</body>

</html>
